<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Subscription</title>
</head>
<body>
    <h1>Ghost Subscription</h1>

    <div>
        {% for update in updates %}
        <div>
            <h2>{{ update.name }}</h2>
            <a href="{{ update.link }}">{{ update.title }}</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>